@using Elsa.SKS.Backend.Services.DTOs
@using Elsa.SKS.Frontend.Configuration
@using Newtonsoft.Json
@inject HttpClient _httpClient;
@inject AppConfiguration _appConfiguration
@inject NavigationManager _navManager;

<p class="mt-4"><em>Your Tracking Data:</em></p>
@if (_parcel is null || _parcel.State is null)
{
    <p class="mt-4"><em>No Data available. Check if you have entered the right TrackingId.</em></p>
}
else
{
    <p class="mt-4">Parcel State: <b>@_parcel.State</b></p>
    <table class="table">
        <thead>
        <tr>
            <th>Status</th>
            <th>Code</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var info in _parcel.VisitedHops)
        {
            <tr style="background-color:#B1FF9A">
                <td>Visited</td>
                <td>@info.Code</td>
                <td>@info.Description</td>
                <td>@info.DateTime</td>
            </tr>
        }
        @foreach (var info in _parcel.FutureHops)
        {
            <tr style="background-color:#FEFEBE">
                <td>Not Visited</td>
                <td>@info.Code</td>
                <td>@info.Description</td>
                <td>@info.DateTime</td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private TrackingInformation? _parcel;
    
    [ParameterAttribute]
    public string? TrackingId { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
        if (TrackingId is not null)
        {
            await LoadParcel(TrackingId);
        }
    }

    private async Task LoadParcel(string trackingId)
    {
        Console.WriteLine($"Loading tracking for parcel with tracking id {trackingId}");
        
        var url = $"{_appConfiguration.AppUrl}/parcel/{trackingId}";
        var response = await _httpClient.GetAsync(url);
        var stringContent = await response.Content.ReadAsStringAsync();
        _parcel = JsonConvert.DeserializeObject<TrackingInformation>(stringContent) ?? new TrackingInformation();
        Console.WriteLine("Loaded parcel tracking information:");
        Console.WriteLine(JsonConvert.SerializeObject(_parcel));
    }
}
